<div class="bar bar-header">
		<button class="button button-icon icon ion-ios7-arrow-back" ontouchend="steroids.layers.pop()"></button>
		<div class="h1 title">Send To:</div>
</div>
<div class="content has-header">
	<div class="list">
		  <div class="item item-divider">
		    Recents
		  </div>
		  <div class="item item-icon-right personRow">
	    	Daniel Petkevich
	      	<i class="icon ion-ios7-circle-outline"></i>
	  	  </div>

		  <div class="item item-divider">
		    A
		  </div>
		  <div class="item item-icon-right personRow">
	    	Aaron Davis
	      	<i class="icon ion-ios7-circle-outline"></i>
	  	  </div>

		  <div class="item item-divider">
		    B
		  </div>
		  <div class="item item-icon-right personRow">
	    	Boris Yeltsin
	      	<i class="icon ion-ios7-circle-outline"></i>
	  	  </div>

	</div> <!-- end list -->
</div> <!-- end content has header -->

insert footer